@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;

  /* overflow: hidden; */
}

@media (min-width: 768px) {
  a {
    text-decoration: none;
    color: #fff;
    list-style: none;
  }

  #tool {
    display: none;
    background-image: url(./images/images.jfif);
    height: 100px;
    position: sticky;
    width: 100%;
  }

  #nav-menu {
    width: 100%;
    justify-items: center;
    justify-content: space-between;
  }

  #hamburger {
    margin-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 30px;
  }

  .s-header hr {
    margin-top: 10px;
    width: 50px;
    margin-left: 80px;
    background-color: #ec5242;
    border-color: #ec5242;
  }

  .events-header hr {
    width: 50px;
    margin-left: 45%;
    margin-top: 5px;
    background-color: #ec5242;
    border-color: #ec5242;
  }

  .items hr {
    margin-top: 10px;
    align-items: flex-start;
    position: relative;
    margin-right: 250px;
    width: 50px;
  }

  .footer-head hr {
    width: 50px;
    margin-top: 5px;

    /* margin-left: 10%; */
    background-color: #ec5242;
    border-color: #ec5242;
  }

  #hamburger hr {
    z-index: 10;
    background-color: #020000;
  }

  .ham {
    width: 30px;
    height: 4px;
    background-color: rgb(168, 162, 162);
    transition: 0.4s;
    z-index: 10;
  }

  #hamburger.active .ham:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .ham:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #hamburger.active .ham:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }

  #bar-menu {
    position: fixed;
    left: -150%;
    top: 0.001px;
    gap: 0;
    flex-direction: column;
    background-color: #3e3c3c;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s;
    height: 755px;
    padding-top: 70px;
    padding-left: 40px;
    list-style: none;
  }

  #bar-menu.active {
    left: 0;
  }

  .bar {
    margin-top: 30px;
    font-size: 32px;
    font-family: "lato", sans-serif;
  }

  .toolbar {
    width: 100vw;
    background-color: #272a31;
  }

  .tool {
    display: flex;
    width: 90vw;
    justify-content: flex-end;
    height: 40px;
    background-color: #272a31;
    list-style: none;
    gap: 30px;
    padding-top: 10px;
    font-family: "lato", sans-serif;
    font-size: 13px;
    font-weight: 600;
  }

  .next-toolbar {
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: #fff;
    justify-content: space-between;
  }

  .logo img {
    width: 70px;
    margin-left: 300px;
    cursor: pointer;
  }

  .tool2 {
    display: flex;
    list-style: none;
    margin-top: 30px;
    font-family: "lato", sans-serif;
    font-weight: 800;
    font-size: 17px;
  }

  .tool2 li {
    margin-right: 17px;
  }

  .tool2 a {
    color: #272a31;
  }

  .last-footer a {
    color: #272a31;
    font-family: "lato", sans-serif;
    font-size: 12px;
    margin-left: 650px;
  }

  .email-p {
    margin-top: 50px;
    text-align: center;
    font-family: "lato", sans-serif;
    font-size: 20px;
    width: 350px;
    margin-left: 200px;
    font-weight: 600;
    color: #f5f7fc;
  }

  .email-p a {
    color: #f5f7fc;
  }

  .tool2 a:hover {
    color: #ec5242;
    transform: scale(1.09);
  }

  .box {
    border-style: groove;
    border-color: #ec5242;
  }

  #main {
    width: 100vw;
    height: 900px;
    background: linear-gradient(
      132deg,
      pink,
      green,
      black,
      yellow,
      #591bc5,
      #212335
    );
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #111112;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }

  .cube:nth-child(2n) {
    border-color: rgb(243, 12, 12);
  }

  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }

  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }

  .cube:nth-child(11) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }

  .cube:nth-child(7) {
    animation-delay: 5s;
    left: 75vw;
    top: 50vh;
  }

  .cube:nth-child(8) {
    animation-delay: 3s;
    left: 90vw;
    top: 10vh;
  }

  .cube:nth-child(9) {
    animation-delay: 2s;
    left: 10vw;
    top: 85vh;
  }

  .cube:nth-child(10) {
    animation-delay: 1s;
    left: 50vw;
    top: 10vh;
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }

    30% {
      background-position: 40% 70%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }

    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

  #main-page {
    z-index: 10;
  }

  .page-heading {
    padding-top: 100px;
    margin-left: 10%;
    width: 70%;
  }

  .heading {
    font-family: "lato", sans-serif;
    font-size: 48px;
    width: 500px;
    font-weight: 700;
    color: #ec5242;
  }

  .heading1 {
    font-family: "cocogoose", sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-top: 20px;

    /* width: 700px; */
    color: transparent;
    background-image: url(./images/R.jfif);
    background-clip: inherit;
    -webkit-background-clip: text;
  }

  .paragraph {
    margin-left: 10%;
    width: 65%;
    margin-top: 50px;
    border: 1px solid white;
  }

  .paragraph p {
    width: 95%;
    padding-top: 10px;
    margin-left: 20px;
    font-family: "lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #f5f7fc;
  }

  .events {
    background-color: #fff;
    width: 100%;
    height: 400px;
  }

  .events-header h1 {
    text-align: center;
    margin-top: 70px;
    font-family: "lato", sans-serif;
    color: #272a31;
    font-weight: 800;
  }

  .pictures {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 12px;
    margin-top: 100px;
    justify-content: center;
  }

  .pic1 {
    margin-left: 50px;
    width: 400px;
    background-image: url(./images/pic1.png);
    height: 350px;
    font-size: 15px;
  }

  .pic1 h1 {
    padding-top: 100px;
    font-family: "cocogoose", sans-serif;
    opacity: 0.7;
  }

  .pic2 {
    background-image: url(./images/pic2.png);
    height: 350px;
    width: 400px;
    font-size: 15px;
    margin-left: 50px;
  }

  .pic2 h1 {
    padding-top: 100px;
    font-family: "cocogoose", sans-serif;
    opacity: 0.7;
  }

  .footer-partner {
    background-color: #272a31;
    height: 300px;
    width: 100%;
    margin-top: 270px;
  }

  .footer-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    color: #d3d3d3;
    font-family: "lato", sans-serif;
    font-weight: 900;
    width: 500px;
  }

  .partner-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  .list-p {
    margin-top: 25px;
    font-family: "cocogoose", sans-serif;
    font-size: 24px;
    color: #959494;
  }

  .list-p2 {
    margin-top: 5px;
    width: 200px;
    font-family: "cocogoose", sans-serif;
    font-size: 24px;
    color: #959191;
  }

  .last-footer {
    height: 150px;
    position: absolute;
    background-image: url(./images/efa65d8127ef74475b6b38d6b35a934c--climate-change-logo-design.jpg);
    background-size: 100px;
    background-position: 50% 40%;
    background-repeat: no-repeat;
  }

  .last-footer p {
    margin-top: 50px;
    font-family: "lato", sans-serif;
    font-size: 12px;
    margin-left: 650px;
    margin-bottom: 5px;
  }
}
